logic/EventTrigger/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "3rdLightSession": {
                "runAfter": {
                    "Initialize_Thirdlight_Image_Management_Service_(IMS)_API_Password": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "body": {
                        "action": "Core.Login",
                        "inParams": {
                            "apiVersion": "1.0",
                            "password": "@{variables('apiPassword')}",
                            "username": "@{variables('apiUsername')}"
                        }
                    },
                    "method": "POST",
                    "uri": "@parameters('apiUrl')"
                }
            },
            "For_each": {
                "foreach": "@body('Parse_JSON_list')",
                "actions": {
                    "File_Json_Compose": {
                        "runAfter": {
                            "Parse_JSON_folder_info": [
                                "Succeeded"
                            ]
                        },
                        "type": "Compose",
                        "inputs": {
                            "asset_type": "@{substring(body('Parse_JSON_folder_info')?['outParams']?['name'],0,1)}",
                            "download_link": "@{body('Parse_JSON_download_link')?['outParams']}",
                            "file_name": "@{body('Parse_JSON_asset_info')?['outParams']?['filename']}",
                            "filesize": "@{body('Parse_JSON_asset_info')?['outParams']?['filesize']}",
                            "mime": "@{body('Parse_JSON_asset_info')?['outParams']?['mime']}"
                        }
                    },
                    "HTTP_Asset_info": {
                        "runAfter": {},
                        "type": "Http",
                        "inputs": {
                            "body": {
                                "action": "Files.GetAssetDetails",
                                "apiVersion": "1.0",
                                "inParams": {
                                    "assetId": "@items('For_each')['assetId']"
                                },
                                "sessionId": "@{variables('session')}"
                            },
                            "method": "POST",
                            "uri": "@parameters('apiUrl')"
                        }
                    },
                    "HTTP_download_link": {
                        "runAfter": {
                            "HTTP_folder_info": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http",
                        "inputs": {
                            "body": {
                                "action": "Downloads.GetLink",
                                "apiVersion": "1.0",
                                "inParams": {
                                    "assetId": "@items('For_each')['assetId']"
                                },
                                "sessionId": "@{variables('session')}"
                            },
                            "method": "POST",
                            "uri": "@parameters('apiUrl')"
                        }
                    },
                    "HTTP_folder_info": {
                        "runAfter": {
                            "HTTP_Asset_info": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http",
                        "inputs": {
                            "body": {
                                "action": "Files.GetFolderDetails",
                                "apiVersion": "1.0",
                                "inParams": {
                                    "assetId": "@items('For_each')['assetId']"
                                },
                                "sessionId": "@{variables('session')}"
                            },
                            "method": "POST",
                            "uri": "@parameters('apiUrl')"
                        }
                    },
                    "Parse_JSON_asset_info": {
                        "runAfter": {
                            "HTTP_download_link": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('HTTP_Asset_info')",
                            "schema": {
                                "properties": {
                                    "outParams": {
                                        "properties": {
                                            "duration": {},
                                            "filename": {
                                                "type": "string"
                                            },
                                            "filesize": {
                                                "type": "string"
                                            },
                                            "framerate": {},
                                            "id": {
                                                "type": "string"
                                            },
                                            "mime": {
                                                "type": "string"
                                            },
                                            "owner": {
                                                "type": "string"
                                            },
                                            "pages": {
                                                "type": "string"
                                            },
                                            "panoramicHeight": {
                                                "type": "integer"
                                            },
                                            "panoramicUrl": {
                                                "type": "string"
                                            },
                                            "panoramicWidth": {
                                                "type": "integer"
                                            },
                                            "parentId": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "result": {
                                        "properties": {
                                            "action": {
                                                "type": "string"
                                            },
                                            "api": {
                                                "type": "string"
                                            },
                                            "timings": {
                                                "properties": {
                                                    "initTime": {
                                                        "type": "integer"
                                                    },
                                                    "methodTime": {
                                                        "type": "integer"
                                                    },
                                                    "setupTime": {
                                                        "type": "integer"
                                                    },
                                                    "totalTime": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "Parse_JSON_download_link": {
                        "runAfter": {
                            "Parse_JSON_asset_info": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('HTTP_download_link')",
                            "schema": {
                                "properties": {
                                    "outParams": {
                                        "type": "string"
                                    },
                                    "result": {
                                        "properties": {
                                            "action": {
                                                "type": "string"
                                            },
                                            "api": {
                                                "type": "string"
                                            },
                                            "timings": {
                                                "properties": {
                                                    "initTime": {
                                                        "type": "integer"
                                                    },
                                                    "methodTime": {
                                                        "type": "integer"
                                                    },
                                                    "setupTime": {
                                                        "type": "integer"
                                                    },
                                                    "totalTime": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "Parse_JSON_folder_info": {
                        "runAfter": {
                            "Parse_JSON_download_link": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('HTTP_folder_info')",
                            "schema": {
                                "properties": {
                                    "outParams": {
                                        "properties": {
                                            "accessible": {
                                                "type": "boolean"
                                            },
                                            "createUnder": {
                                                "type": "boolean"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "folderDate": {
                                                "type": "string"
                                            },
                                            "folderType": {
                                                "type": "string"
                                            },
                                            "hasChildAssets": {
                                                "type": "boolean"
                                            },
                                            "hasChildContainers": {
                                                "type": "boolean"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "ownerId": {
                                                "type": "string"
                                            },
                                            "parentId": {
                                                "type": "string"
                                            },
                                            "quota": {
                                                "type": "string"
                                            },
                                            "subtreeQuota": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "result": {
                                        "properties": {
                                            "action": {
                                                "type": "string"
                                            },
                                            "api": {
                                                "type": "string"
                                            },
                                            "timings": {
                                                "properties": {
                                                    "initTime": {
                                                        "type": "integer"
                                                    },
                                                    "methodTime": {
                                                        "type": "integer"
                                                    },
                                                    "setupTime": {
                                                        "type": "integer"
                                                    },
                                                    "totalTime": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "Put_a_message_on_a_queue_(V2)": {
                        "runAfter": {
                            "File_Json_Compose": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection",
                        "inputs": {
                            "body": "@{outputs('File_Json_Compose')}",
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "[concat('/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent(''AccountNameFromSettings''))}/queues/@{encodeURIComponent(''', parameters('storageQueueName'), ''')}/messages')]"
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variable_for_session": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_list_of_new_assets": {
                "runAfter": {
                    "Get_secret_asset-list-with-access-token": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "method": "GET",
                    "uri": "@body('Get_secret_asset-list-with-access-token')?['value']"
                }
            },
            "Get_secret_asset-list-with-access-token": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('asset-list-with-access-token')}/value"
                }
            },
            "Get_secret_thirdlight-api-password": {
                "runAfter": {
                    "Initialize_Thirdlight_Image_Management_Service_(IMS)_API_Username": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('thirdlight-api-password')}/value"
                }
            },
            "Get_secret_thirdlight-api-username": {
                "runAfter": {
                    "Parse_JSON_list": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('thirdlight-api-username')}/value"
                }
            },
            "Initialize_Thirdlight_Image_Management_Service_(IMS)_API_Password": {
                "runAfter": {
                    "Get_secret_thirdlight-api-password": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "apiPassword",
                            "type": "string",
                            "value": "@body('Get_secret_thirdlight-api-password')?['value']"
                        }
                    ]
                }
            },
            "Initialize_Thirdlight_Image_Management_Service_(IMS)_API_Username": {
                "runAfter": {
                    "Get_secret_thirdlight-api-username": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "apiUsername",
                            "type": "string",
                            "value": "@body('Get_secret_thirdlight-api-username')?['value']"
                        }
                    ]
                }
            },
            "Initialize_variable_for_session": {
                "runAfter": {
                    "Parse_JSON_session_id_": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "session",
                            "type": "string",
                            "value": "@body('Parse_JSON_session_id_')?['outParams']?['sessionId']"
                        }
                    ]
                }
            },
            "Parse_JSON_list": {
                "runAfter": {
                    "Get_list_of_new_assets": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Get_list_of_new_assets')",
                    "schema": {
                        "items": {
                            "properties": {
                                "assetId": {
                                    "type": "string"
                                },
                                "containerId": {
                                    "type": "string"
                                },
                                "filename": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "type",
                                "assetId",
                                "containerId",
                                "filename"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                }
            },
            "Parse_JSON_session_id_": {
                "runAfter": {
                    "3rdLightSession": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('3rdLightSession')",
                    "schema": {
                        "properties": {
                            "outParams": {
                                "properties": {
                                    "sessionId": {
                                        "type": "string"
                                    },
                                    "userDetails": {
                                        "properties": {
                                            "canPublish": {
                                                "type": "boolean"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "type": "integer"
                                            },
                                            "username": {
                                                "type": "string"
                                            },
                                            "userref": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            },
                            "result": {
                                "properties": {
                                    "action": {
                                        "type": "string"
                                    },
                                    "api": {
                                        "type": "string"
                                    },
                                    "timings": {
                                        "properties": {
                                            "initTime": {
                                                "type": "integer"
                                            },
                                            "methodTime": {
                                                "type": "integer"
                                            },
                                            "setupTime": {
                                                "type": "integer"
                                            },
                                            "totalTime": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                }
            },
            "thirdlight-worker": {
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow",
                "inputs": {
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "eventprocessor"
                        }
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "GET"
                }
            }
        }
    }
}